<html ng-app="fyle_app">
	<head>
		<title></title>
		<!-- CDN links -->
 		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
 		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Static file links -->
		<link rel="stylesheet" href="style.css">
		<script src="app.js"></script>
	</head>

	<!-- Body Container Start  -->
	<body ng-controller="fyle_controller">
		<div class="container">
			<!-- Search Box Start -->
			<div class="row">
				<h2>Fyle Assignment</h2>
				<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 search-box">
					<div class="col-md-4 col-lg-4 col-xs-6 col-sm-6 city-select-dropdown">
						 <div class="dropdown" ng-model="search_key">
							<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" ng-init="bankApi(selectedCity)">{{selectedCity}}
							<span class="caret"></span></button>
							<ul class="dropdown-menu">
								<li ng-repeat="city in cities" ng-click="selectedCity=city; selectCity(city);">
									<a href="#">{{city}}</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 search-bar">
						<div class="input-group search-bar-input">
       						<input type="text" class="form-control" ng-model="search_key" ng-change="change(search_key)">
       						<i class="glyphicon glyphicon-search" id="search-btn"></i>
    					</div>
					</div>
				</div>
			</div>
			<!-- Search Box End -->

			<!-- Data Table Start -->
			<div class="row">
				<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 data-table">
					<table class="table">
						<thead class="data-table-head">
							<tr>
								<th style="min-width= 20%;">Bank Name</th>
								<th style="min-width= 20%;">Branch</th>
								<th style="min-width= 50%;">Address</th>
								<th style="min-width= 10%;">IFSC Code</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="result in filtered_api_results">
								<td style="min-width= 20%;">{{result.bank_name}}</td>
								<td style="min-width= 20%;">{{result.branch}}</td>
								<td style="min-width= 50%;">{{result.address}}</td>
								<td style="min-width= 10%;">{{result.ifsc}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- Data Table End -->
		</div>
	</body>
	<!-- Body Container End -->
</html>