/********************* Index Page CSS ************/
.container {
  width: 90%;
  background: #d6d6c2;
  margin: 10px auto;
  position: relative;
  text-align:center;
}

.row {
    text-align: center;
    display:block;
}

body {
    font-family: "Times New Roman", Times, serif;
}

table { 
	table-layout: fixed; 
}

table th, table td { 
	overflow: hidden; 
}

/********* Search Bar CSS **************/
.btn-primary{
	border-radius: 0px;
	height: 34px;
}

.city-select-dropdown{
	width: 160px;
}

.search-box{
	margin-top: 50px;
	margin-right: auto;
	margin-left: 250px;
	max-height: 35px;
	width: auto;
}

.dropdown{
	position: relative;
    z-index: 100;
}

.search-box > .dropdown{
	font-size: : 14px;
}

.search-bar{
	border-radius: 0px;
}
.search-bar-input{
	width: 500px;
	margin-left: -66px;
	padding-left: 10px;
}

.form-control{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

#search-btn{
	margin-left: -40px; 
	z-index: 10; 
	margin-top: 7px;
}

/************ Table CSS *****************/
.data-table{
	height: auto;
	width: auto;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

.data-table > .table > thead{
	font-size: 16px;
}

.data-table > .table > tbody{
	font-size: 14px;
}

.data-table-head{
	background-color: #373a3c; 
	color: #fff;
}
